{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0", 
    "title": "BrightUnion Distributors Protocol",
    "description": "BrightUnion Protocol Test http API",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "host": "api.brightunion.io",
  "schemes": ["http"],
  "consumes": ["application/json"],
  "produces": ["application/json"],

  "paths": {
    "/v1/protocol/getCoversDemo": {
      "post": {
        "tags": [
          {
            "name": "Protocol"
          }
        ],    
        "produces": [
          "application/json"
        ],
        "summary": "Demo to get owner's covers from all distributors across all supported blockchains.",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cover"
            }
          }
        }
      }
    },
    "/v1/protocol/getCovers": {
      "post": {
        "tags": [
          {
            "name": "Protocol"
          }
        ],
        "parameters": [
          {
            "name": "cover",
            "in": "body",
            "description": "Distributor's name",
            "schema": {
              "$ref": "#/definitions/coverParams"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get all owner's covers ",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cover"
            }
          }
        }
      }
    },
    "/v1/protocol/getCoverCatalog": {
      "get": {
        "tags": [
          {
            "name": "Protocol"
          }
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get all available covers from Bright Union distributors",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/protocol/getCoverQuote": {
      "post": {
        "tags": [
          {
            "name": "Protocol"
          }
        ],
        "parameters": [
          {
            "name": "cover",
            "in": "body",
            "description": "GetCover Quote",
            "schema": {
              "$ref": "#/definitions/quoteParams"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "summary": "Get cover from specified distributor",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Cover"
            }
          }
        }
      }
    },
     "/v1/protocol/buyCover": {
      "post": {
        "tags": [
          {
            "name": "Protocol"
          }
        ],

        "produces": [
          "application/json"
        ],
        "summary": "Coming soon..."

      }
    }
  } ,
"definitions": {
    "coverParams": {
      "required": [
        "DistributorName",
        "OwnerAddress",
        "ActiveCover"
      ],
      "properties": {
        "DistributorName": {
          "type": "string",
          "uniqueItems": true,
          "example":"insurace"
        },
        "OwnerAddress": {
          "type": "string",
          "example":"0x8B13f183e27AaD866b0d71F0CD17ca83A9a54ae2"
        },
        "ActiveCover":{
          "type": "boolean",
          "example":"true"
        }
      }
    },
    "quoteParams": {
      "required": [
        "Period",
        "AmountInWei",
        "ProductAddress",
        "InterfaceCompliant1",
        "InterfaceCompliant2",
        "InterfaceCompliant3"
     
      ],
      "properties": {
        "DistributorName": {
          "type": "string",
          "uniqueItems": true,
          "example": "bridge"
        },
        "Period": {
          "type": "integer",
          "uniqueItems": true,
          "example":26
        },
        "AmountInWei": {
          "type": "string",
          "example":"1000000000000000000000"
        },
        "ProductAddress":{
          "type": "string",
          "example":"0x85A976045F1dCaEf1279A031934d1DB40d7b0a8f"
        },
        "InterfaceCompliant1": {
          "type": "string",
          "example":"0x0000000000000000000000000000000000000000"
        },
        "InterfaceCompliant2":{
          "type": "string",
          "example":"0x0000000000000000000000000000000000000000"
        }
      }
    },
    "buyCoverParams":{
      "properties": {
        "DistributorName": {
          "type": "string"
        }, 
        "productAddress": {
          "type": "string"
        }, 
        "secondsDuration": {
          "type": "integer"
        },
        "coverTokens": {
          "type": "integer"
        }
      }
    },
    "Cover": {
      "properties": {
        "coverId": {
          "type": "integer"
        }, 
        "coverType": {
          "type": "string"
        },
        "productId": {
          "type": "integer"
        },
        "coverAmount": {
          "type": "integer"
        },
        "premium": {
          "type": "integer"
        }, 
        "currency": {
          "type": "string"
        },
        "contractAddress": {
          "type": "string"
        },
        "expiration": {
          "type": "integer"
        },
        "status": {
          "type": "integer"
        }
      }
    }
  }
}


